.container{
    display: flex;
    height: 100%;
    position: relative;
    .todoList{
        width: 80%;
        display: flex;
        flex-direction: column;
        padding-right: 1rem;
        @media only screen and (min-width: 500px) and (max-width: 840px) {
            width: 100%;
           }
           @media only screen and (min-width: 200px) and (max-width: 500px) {
            width: 100%;
           }
        .content{
            display: grid;
            height: 70%;
            overflow: scroll;
            padding-top: 3rem ;
            scrollbar-width: none; /* Firefox */
            -ms-overflow-style: none; /* Internet Explorer/Edge */
            // justify-content: flex-start;
            &::-webkit-scrollbar {
                display: none; /* Chrome, Safari, and Opera */
              }
              @media only screen and (min-width: 200px) and (max-width: 500px) {
                justify-content: center!important;
              }
            .listed{
                width: 215px;
                margin: 0rem .5rem;
                border: solid 1px #fff;
                border-radius: .7rem;
                background-color: beige;
                h1{
                    text-align: center;
                    border-bottom: solid 2px #fff;
                    margin-top: .3rem;
                    position: relative;
                }
                .card{
                    padding: .5rem;
                    border-radius: .5rem;
                    position: relative;
                    .delete{
                        display: none;
                        position: absolute;
                        right: 5px;
                        top: 8px;
                    }
                    .switch{
                        display: none;
                        background-color: white;
                        font-size: 14px;
                        width: 93%;
                        justify-content: space-around;
                        bottom: -22px;
                        left: -21px;
                        position: absolute;
                        height: 25px;
                    }
                    &:hover .delete{
                        display: block;
                    }
                    @media only screen and (min-width: 200px) and (max-width: 500px) {
                        &:hover .delete .switch{
                            display: block;
                        }
                        &:hover .switch{
                            display: flex;
                        }
                    }
                }
                @media only screen and (min-width: 200px) and (max-width: 500px) {
                    width: 215px;
                    margin: 0rem 0.5rem;
                    border: solid 1px;
                    border-radius: 0.7rem;
                    height: 325px;
                    margin-bottom: 3rem;
                    display: flex;
                    flex-direction: column;
                    h1{
                        height: 15%;
                    }
                    ul{
                        height: 80%;
                    }
                }
            }
            .createList{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: monospace;
                font-size: 16px;
            
            }
        }
        .Formdata{
            height: 20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .Stages{
                height: 30%;
                display: flex;
                justify-content: flex-end;
                margin-bottom: .7rem;
                input{
                    width: 31%;
                    border-radius: 1.7rem;
                    margin-right: .5rem;
                }
                button{
                    width: 16%;
                    cursor: pointer;
                    border-radius: 1rem;
                }
                @media only screen and (min-width: 200px) and (max-width: 600px) {
                    input{
                        width: 51%;
                        border-radius: 1.7rem;
                        margin-right: .5rem;
                    }
                    button{
                        width: 30%;
                        cursor: pointer;
                        border-radius: 1rem;
                    }
                }
            }
            .TaskInput{
                height: 30%;
                display: flex;
                justify-content: flex-end;
                input{
                    width: 31%;
                    border-radius: 1.7rem;
                    margin-right: .5rem;
                }
                button{
                    width: 16%;
                    cursor: pointer;
                    border-radius: 1rem;
                }
                @media only screen and (min-width: 200px) and (max-width: 600px) {
                    input{
                        width: 51%;
                        border-radius: 1.7rem;
                        margin-right: .5rem;
                    }
                    button{
                        width: 30%;
                        cursor: pointer;
                        border-radius: 1rem;
                    }
                }
            }
        }
    }
}